<div *ngIf="users">
    <p-table [value]="users">
        <ng-template pTemplate="caption">
            Users List
              </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>ID</th>
              <th>Name</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
          <tr>
              <td>{{user.userID}}</td>
              <td>{{user.userName}}</td>
          </tr>
      </ng-template>
    </p-table>
</div>
<div *ngIf="!users">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading users...</span>
      </div>
</div>